**/build/
**/EnergyPlus/
**/python_standard_lib/
**/ep_trivial**/
*.so
*.iml
*.o
*.exe
*.err
*.out
*.audit
/_6_Coordinate_EP/cBossCallWorkers/boss
/_6_Coordinate_EP/dPThread/program
/_6_Coordinate_EP/dPThread/main
/_4_c_hello/myprogram
log.mpirun
*.geojson
*.json
.idea/workspace.xml
.idea/misc.xml
.idea/deployment.xml
.idea/workspace.xml
_6_Coordinate_EP/j7080/mpi_app
